.clearfix::after {
  content: “”;
  display: block;
  clear: both;
  }
.wraooer{
  margin: 0 auto;
}
.header {
  height:100px;
  width:400px;
  background-color:#141f40;
}
.center{
  height:259px;
  width:400px;
}
.left{
  float: left;
  height:100%;
  width:150px;
  background-color:#80bfa8;
}
.right{
  float: right;
  height:100%;
  width:250px;
  background-color:#8c2727;
}
.footer{
  height:100px;
  width:400px;
  background-color:#d98d30;
}
* {
  margin: 0;
  padding: 0;
}