@charset "UTF-8";

.header {
	background-color: gray;
	height: 40px;
	padding: 10px;
}

.login {
	color: white;
	font-size: 20px;
}

.header-date {
	position: absolute;
	left: 100px;
	font-size: 15px;
	left: 100px;
	padding:10px;
}

.login-form {
	padding-top: 50px;
	padding-bottom: 50px;
}

.table {
	font-size: 30px;
}

.name-form {
	height: 20px;
	width: 200px;
	border: solid 2px;
}

.id-form {
	height: 20px;
	width: 200px;
	border: solid 2px;
}

.footer {
	background-color: gray;
	height: 40px;
	padding: 10px;
}

.hoge-Inc {
	color: white;
	font-size: 20px;
}