
@media screen and (max-width: 767px) {
  .right-upper-left{
    width:125px;
  }
  .right-upper-right{
    width:75px;
  }
  .right{
    width:200px;
  }
  .left{
    width:100px;
   }
   .wrapper {
    width: 300px;
}
}
@media screen and (max-width: 300px) {
  .wrapper{
  float: none;
  width:150px;
}
}