.clearfix::after {
  content: “”;
  display: block;
  clear: both;
  }
  .wrapper {
    width: 400px;
}
.header{
  height:100px;
  background-color:#141f40;
}
.center{
  height:250px;
}
.left{
  float: left;
  height:250px;
  width:150px;
  background-color:#80bfa8;
}
.right{
  float: right;
  height:250px;
  width:250px;
}
.right-lower{
  height:100px;
  width:250px;
  background-color:#8c2727;
}
.right-upper{
  height:150px;
}
.right-upper-right{
  float:right;
  height:150px;
  width:100px;
  background-color:#ff9e6b;
}
.right-upper-left{
  float:left;
  height:150px;
  width:150px;
}
.right-upper-left-lower{
  height:100px;
  background-color:#0093b7;
}
.right-upper-left-upper{
  height:50px;
  background-color:#dbd400;
}
.footer{
  height:100px;
  background-color: #d98d30;
}
